<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>Someone has requested a link to change your password. You can do this through the link below, which is valid for 2 hours.</p>

  <p>
    <a href="{{link}}">Change my password</a>
  </p>

  <p>If you didn't request this, please ignore this email.</p>

  <p>Your password won't change until you access the link above and create a new one.</p>

  <p>Regards,</p>
  <p><strong>The GoBarber Team</strong></p>
</div>
